.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--primary-color);
    width: 100%;
    position: sticky;
    top: 0;
    height: 64px;
    z-index: 10;
    align-items: center;
    gap: 64px;
    box-shadow: 0 0 4px var(--shadows);
}

.RightCorner {
    display: flex;
    gap: 32px;
    align-items: center;
}

.Logo {
    display: flex;
    gap: 4px;
    display: flex;
    align-items: center;
}
.Logo:hover {
    background-color: rgba(0,0,0,.1);
}

.LogoText {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 40px;
    font-family: "Orbitron";
    font-weight: 400;
}
.LogoImg {
    height: 50px;
    width: auto;
}