.Warning {
    padding: 4px 12px;
    margin-bottom: 16px;
    border-radius: 4px;
    opacity: 0.7;
    color: darkred;
    border: 2px solid darkred
}
.BackToHistory.BackToHistory {
    margin: 12px 0;
    padding: 8px;
}

.PopUp.PopUp {
    min-height: 0;
}
.PopUpButtons {
    display: flex;
    gap: 8px;
}
.PopUpButton {
    height: 32px;
    width: 100%;
    font-size: 16px;
    color: green;
    border-color: green;
}
.PopUpButtonRed {
    height: 32px;
    width: 100%;
    font-size: 16px;
    color: darkred;
    border-color: darkred;
}