.WikiLink {
    color: var(--primary-color);
}
.UserLink {
    color: #006700;
}
.RedLink {
    color: #910101 !important;
}

.Section {
    margin: 24px 0;
}
.Heading {
    border-bottom: 4px solid color-mix(in srgb, var(--primary-color) 50%, transparent);
    border-radius: 4px;
    font-size: 1.7em;
    padding: 4px 12px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 4px;
}
.Heading img {
    height: 32px;
    animation: none;
    transition: all 0.3s ease;
}
.Section[open] .Heading img {
    transform: rotate(90deg);
}

.Subheading {
    font-size: 1.3em;
    display: inline-block;
    margin-top: 32px;
}