.ImageLibraryRoot {
    background-color: var(--bg-color);
    display: flex;
    width: 100%;
    height: 100%;
    --library-color: darkslategray;
}

.ImageLibraryExplorer {
    position: relative;
    flex: 5;
    overflow-y: scroll;
}
.ImageLibraryNav {
    position: sticky;
    top: 0;
    height: 52px;
    background-color: var(--library-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.Searchbar {
    margin: 8px;
}
.Images {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
}
.Image, .Image img {
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Image {
    animation: slideInUp 0.3s ease;
    transition: all 0.3s ease;
    aspect-ratio: 1;
}
.Image:hover {
    transform: scale(1.05);
    filter: grayscale(1);
}

.LibraryActions {
    position: sticky;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: var(--cards);
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}
.LibraryAction, .LibraryAction img {
    background: none;
    border: none;
    height: 100%;
}

.FileUploadLabel {
    width: 100%;
    height: 200px;
    background-color: var(--library-color);
    opacity: 0.9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FileUploadLabel input {
    display: none;
}
.FileUploadLabel .Preview {
    max-width: 100%;
    max-height: 100%;
}
.FileUploadLabel .UploadIcon {
    width: 32px;
}

.AddButton {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--library-color);
    padding: 8px;
    border: none;
}
.AddButton img {
    width: 100%;
}
.NothingFound {
    animation: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 24px;
}

.ImageLibraryInspector {
    flex: 2;
    background-color: var(--cards);
    border-left: 2px solid var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 12px;
    overflow: hidden;
    overflow-y: scroll;
    gap: 8px;
    position: relative;
}
.InspectedImage img {
    width: 100%;
}
.InspectedImage {
    background-color: var(--bg-color);
    margin: 8px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--secondary-text-color);
    min-height: 300px;
    border-radius: 4px;
}

.Uploader {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Uploader h2 {
    font-size: 24px;
    color: var(--library-color);
}
.Uploader .DescriptionInput {
    height: auto;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}