.EditorPageRoot {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 120px;
}

.TopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Counters {
    color: var(--secondary-text-color);
}

.TopBarButton {
    height: 36px;
    min-width: 72px;
}


.PublishPopUp {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.PublishPopUpHeading {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.3em;
}
.PublishPopUpButton {
    width: 160px;
    height: 32px;
    margin-left: auto;
    margin-top: auto;
}

.PublishingArticle {
    justify-self: center;
    font-weight: 400;
}