:root {
    --primary-color: #f4f4f4;
    --secondary-color: #2c61a8;
    --secondary-color-2: lightslategray;
    --links: darkblue;
    --buttons: lightgray;
    --border-radius: 10px;
    --text-color: #333;
    --cards: snow;
    --searchbar-border: #65778f;
    --searchbar-bg: #35465e;
    --shadows: rgba(0, 0, 0, 0.25);
    --ui-font: "Exo";
    --text-font: "Ubuntu";
    --logo-font: "Orbitron";
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ui-font);
}

body {
    background-color: var(--primary-color);
    overflow: hidden;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}