:root {
    --bg-color: #f4f4f4;
    --primary-color: #2c61a8;
    --text-color: #333;
    --secondary-text-color: #aaa;
    --cards: snow;
    --shadows: rgba(0, 0, 0, 0.25);
    --ui-font: "Exo";
    --text-font: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --content-type-article-color: rgba(0, 0, 100, 0.5);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ui-font);
}

body {
    overflow: hidden;
    overflow-y: scroll;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

hr {
    color: #ccc;
}

.page {
    min-height: 70vh;
}

.medium {
    /* css class for divs width max 1100px centered in page */
    max-width: 1200px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}