:root {
    --bg-color: #eee;
    --primary-color: #30638E;
    --secondary-color: #555;
    --accent-color: #45739a;
    --text-color: #050315;
    --secondary-text-color: #aaa;
    --cards: snow;
    --shadows: rgba(0, 0, 0, 0.25);
    --ui-font: "Inter";
    --text-font: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --content-type-article-color: rgba(0, 0, 100, 0.5);
    --content-type-user-color: rgba(0, 100, 0, 0.5);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ui-font);
}

body {
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
}

html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 64px;
}

a, Link {
    text-decoration: none;
    color: var(--text-color);
}

hr {
    color: #ccc;
    margin: 8px 0;
}


.page {
    min-height: 70vh;
}
