.HomePage {
    padding: 0 !important;
}

.Wave {
    height: 20vh;
    width: 100%;
    fill: rgba(0, 0, 0, .05);
    display: block;
}

.MainSection {
    background-color: rgba(0, 0, 0, .05);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 32px;
    gap: 20px;
}

.Heading {
    font-family: "Comic Sans MS", cursive;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    margin-top: 32px;
    font-size: 32px;
}

@keyframes shapeWorld {
    20% {
        border-radius: 64px;
        border-top-left-radius: 12px;
        transform: scale(1.01);
    }
    40% {
        border-radius: 32px;
        border-top-left-radius: 24px;
        border-bottom-right-radius: 64px;
        transform: scale(0.95);
    }
    60% {
        border-radius: 128px;
        border-bottom-left-radius: 64px;
        border-top-left-radius: 32px;
        transform: scale(1);
    }
    80% {
        border-radius: 64px;
        border-bottom-left-radius: 128px;
        transform: scale(1.05);
    }
}

@media (min-width: 1200px) {
    .HomePage {
        box-shadow: 0 0 4px var(--shadows);
        border-radius: 20px;
        overflow: hidden;
        padding-top: 64px;
    }
}