.SettingsRoot {
    max-width: 700px;
}
.Settings {
    background-color: var(--cards);
    border-radius: 8px;
    box-shadow: 0 0 4px var(--shadows);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 80vh;
    max-height: 700px;
    align-items: flex-start;
}
.Settings h1 {
    font-weight: 400;
}

.Input {
    height: 160px;
    width: 300px;
}

.Save {
    margin-top: auto;
    margin-left: auto;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 8px;
    border: none;
}
.Save:hover {
    color: var(--primary-color);
}