.MenuButton {
    border: none;
    background: none;
    height: 100%;
    width: 30px;
}
.MenuButtonImg {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.Menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100dvh;
    background-color: var(--primary-color);
    transition: right 0.3s ease-in-out;
    z-index: 110;
    box-shadow: -2px 0 5px var(--shadows);
}
.Menu.Open {
    right: 0;
}